<div class="card card-columns">
    <div class="card-header">
        <h6>Application Settings</h6>
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearchGameCategory" asp-controller="AppSettings" class="btn btn-sm btn-outline-success">Go to GameCategoiries</a>
        - Administrate User Roles
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearchGameStatus" asp-controller="AppSettings" class="btn btn-sm btn-outline-success">Go to GameStatuses</a>
        - Administrate Users
    </div>
</div>